.vans-container {
    text-align: center;
}

.vanList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

} 

.van {
    margin: 2rem 1rem 0 1rem;
}

.van img {
    max-width: 25rem;
}